<!DOCTYPE html>
<html>
    <head> 
        <meta charset="UTF-8">
        <link rel="stylesheet" href="static/css/styles.css">
        <title> Selected Goals </title>
    </head>
    <body>
        <h1> Selected Goals </h1>
        <div class="display_fieldset">
            <p><b>User:</b> {{ usr[0] }} </p>
        </div>
        <div class="display_fieldset">
               {% if usr[1]=="on" %} <p>-- {{ "Lose Weight" }}</p> {% endif %}
               {% if usr[2]=="on" %} <p>-- {{ "Maintain Weight" }}</p> {% endif %}
               {% if usr[3]=="on" %} <p>-- {{ "Build Upper Body Muscle" }}</p> {% endif %}
               {% if usr[4]=="on" %} <p>-- {{ "Build Lower Body Muscle" }}</p> {% endif %}
               {% if usr[5]=="on" %} <p>-- {{ "Improve Cardio" }}</p> {% endif %}
               {% if usr[1]!="on" and usr[2]!="on" and usr[3]!="on" and usr[4]!="on" and usr[5]!="on" %} 
                                     <p> {{"No goals selected. Go back to change selections."}}</p> {% endif %}
        </div>
            <br>
            <button class="back_button" onclick="window.location='/'">&lt-- Back</button>
            <button class="next_button" onclick="window.location='/temp'">Next --&gt</button>
    </body>
</html>