<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="static/css/styles.css">
        <title> Home Page </title>
    </head>
    <body>
        <div>
            <nav>
                <ul>
                    <li><a href="home">MyPlan</a></li>
                    <li><a href="edit_profile">Edit Profile</a></li>
                    <li><a href="goal_select">Select Goals</a></li>
                    <li><a href="calorie_tracker">Calorie Tracker</a></li>
                    <li><a href="find_gyms">Find Gyms</a></li>
                    <li class="logout"><a href="logout">Logout</a></li>
                </ul>
            </nav>
        </div>
 
        <h1>{{ usr }}'s Plan</h1>

        <div class="section_fieldset">
            <div class="display_fieldset">
                <h2>User Info</h2>
                {% if userInfo[3] %}
                    <p><b>Age:</b> {{userInfo[2]}}</p>
                    <p><b>Sex:</b> {{userInfo[1]}}</p>
                    <p><b>Weight:</b> {{userInfo[3]}} lbs</p>
                    <p><b>Height:</b> {{userInfo[4]}}'{{userInfo[5]}}"</p>
                {% endif %}
                {% if not userInfo[3] %}
                    <p>{{"Profile not set up."}}</p>
                {% endif %}
                <button class="n_button" onclick="window.location='/edit_profile'">Edit Profile</button><br><br>
            </div>
            <div class="display_fieldset">
                <h2>Current Goals</h2>
                {% if usrGoals[1]=="on" %} <p>-- {{ "Lose Weight" }}</p> {% endif %}
                {% if usrGoals[2]=="on" %} <p>-- {{ "Gain Weight" }}</p> {% endif %}
                {% if usrGoals[3]=="on" %} <p>-- {{ "Maintain Weight" }}</p> {% endif %}
                {% if usrGoals[4]=="on" %} <p>-- {{ "Gain Muscle" }}</p> {% endif %}
                {% if usrGoals[5]=="on" %} <p>-- {{ "Lose Fat" }}</p> {% endif %}
                {% if usrGoals[1]!="on" and usrGoals[2]!="on" and usrGoals[3]!="on" and usrGoals[4]!="on" and usrGoals[5]!="on" %} 
                                           <p> {{"No goals selected."}}</p> {% endif %}
                <button class="n_button" onclick="window.location='/goal_select'">Change Goals</button><br><br>
            </div>

            <div class="display_fieldset">
                <h2>Calorie Calculator and Diet Recommendations</h2>
                {% if calories %}
                    <div class="display_sub_fieldset">
                        <p><b style="font-size: 25px;">Caloric Needs:</b></p>
                        <p>{{ calories }} calories per day.</p>
                    </div>
                    <div class="display_sub_fieldset">
                        <p><b style="font-size: 25px;">Macronutrients:</b></p>
                        <p><b>Protein:</b> {{ macronutrients['protein_grams'] }} g</p>
                        <p><b>Fats:</b> {{ macronutrients['fat_grams'] }} g</p>
                        <p><b>Carbohydrates:</b> {{ macronutrients['carbs_grams'] }} g</p>
                    </div>
                    <div class="display_sub_fieldset">
                        <p><b style="font-size: 25px;">Diet Recommendations:</b></p>
                        {% if status=="set" %}
                        {% for recommendation in recommendations %}
                        <p>{{ recommendation }}</p>
                        {% endfor %}
                        {% endif %}
                        {% if status=="not_set" %}
                        <p>{{"Goals not selected. Please select fitness goals."}}</p>
                        {% endif %}
                    </div>
                {% endif %}
                {% if not calories %} 
                    <p>{{"Profile not set up."}}</p>
                {% endif %} <br>
                <button class="n_button" onclick="window.location='/edit_profile'">Edit Profile</button><br><br>
            </div>
        </div>    
    </body>
</html>