<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="static/css/styles.css">
        <title> Home Page </title>
    </head>
    <body>
        <div>
            <nav>
                <ul>
                    <li><a href="home">MyPlan</a></li>
                    <li><a href="goalselect">Select Goals</a></li>
                    <li><a href="calorietracker">Calorie Tracker</a></li>
                    <li class="logout"><a href="logout">Logout</a></li>
                </ul>
            </nav>
        </div>
 
        <h1><b>{{ usr }}</b>'s Plan</h1>
 
        <div class="display_fieldset">
            <h2>Current Goals</h2>
               {% if usrGoals[1]=="on" %} <p>-- {{ "Lose Weight" }}</p> {% endif %}
               {% if usrGoals[2]=="on" %} <p>-- {{ "Maintain Weight" }}</p> {% endif %}
               {% if usrGoals[3]=="on" %} <p>-- {{ "Build Upper Body Muscle" }}</p> {% endif %}
               {% if usrGoals[4]=="on" %} <p>-- {{ "Build Lower Body Muscle" }}</p> {% endif %}
               {% if usrGoals[5]=="on" %} <p>-- {{ "Improve Cardio" }}</p> {% endif %}
               {% if usrGoals[1]!="on" and usrGoals[2]!="on" and usrGoals[3]!="on" and usrGoals[4]!="on" and usrGoals[5]!="on" %} 
                                     <p> {{"No goals selected."}}</p> {% endif %}
            <button class="n_button" onclick="window.location='/goalselect'">Change Goals</button><br><br>
        </div>
        <div class="display_fieldset">
            <br>
            <button class="back_button" onclick="window.location='/'">&lt-- Back</button>
            <button class="next_button" onclick="window.location='/temp'">Next --&gt</button>
        </div>
    </body>
</html>