<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calorie and Diet Form</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <div>
        <nav>
            <ul>
                <li><a href="home">MyPlan</a></li>
                <li><a href="goalselect">Select Goals</a></li>
                <li><a href="edit_profile">Edit Profile</a></li>
                <li><a href="user_info">User Info</a></li>
                <li class="logout"><a href="logout">Logout</a></li>
            </ul>
        </nav>
    </div>
    <h1>Calorie Calculator and Diet Recommendations</h1>

    {% if calories %}
    <div class="display_fieldset">
        <p>Results for {{ user }}</p>
        <p>Caloric Needs: {{ calories }} calories per day.</p>
    </div>
    <div class="display_fieldset">
        <p>Macronutrients:</p>
            <p>Protein: {{ macronutrients['Protein (g)'] }} g</p>
            <p>Fats: {{ macronutrients['Fat (g)'] }} g</p>
            <p>Carbohydrates: {{ macronutrients['Carbohydrates (g)'] }} g</p>
    </div>
    <div class="display_fieldset">
        <p>Diet Recommendations:</p>
            {% for recommendation in recommendations %}
            <p>{{ recommendation }}</p>
            {% endfor %}
    </div>
    {% endif %}
    
</body>
</html>





