<!DOCTYPE html>
<html lang="en">
    <head> 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/css/styles.css">
        <title>Calorie Tracker</title>
    </head>
    <body>
        <div>
            <nav>
                <ul>
                    <li><a href="home">MyPlan</a></li>
                    <li><a href="edit_profile">Edit Profile</a></li>
                    <li><a href="goal_select">Select Goals</a></li>
                    <li><a href="calorie_tracker">Calorie Tracker</a></li>
                    <li><a href="find_gyms">Find Gyms</a></li>
                    <li class="logout"><a href="logout">Logout</a></li>
                </ul>
            </nav>
        </div>

        <h1>Calorie Tracker</h1>
        <div class="row">
            <div class="column">
            <form method="POST"> 
                <div class="display_fieldset">
                    <b>Enter calories consumed:</b><br><br>

                    <label for="item">Food/Beverage </label>
                    <input type="text" name="item" required><br>

                    <label for="caloriesConsumed">Calories</label>
                    <input type="text" name="caloriesConsumed" required><br><br>

                    <input class="form_submit" type="submit" value="Add"><br>
                </div>
            </form>
            {% if tCalCon >= 0 %} 
            <form method="POST">
                <div class="section_fieldset">
                    Total Calories Consumed: {{tCalCon}} C
                    <input class="next_button" type="submit" name="resetCon" value="Reset">
                    {% if (tCalCon-tCalBurn) >= calRec and calRec != 0 %}
                        <br>{{"Daily calorie goal met!"}}
                    {% endif %}
                </div>
            </form>
            {% endif %}
            </div>
            <div class="column">
            <form method="POST"> 
                <div class="display_fieldset">
                    <b>Enter calories burned:</b><br><br>
    
                    <label for="activity">Activity </label>
                    <input type="text" name="activity" required><br>
    
                    <label for="caloriesBurned">Calories</label>
                    <input type="text" name="caloriesBurned" required><br><br>
    
                    <input class="form_submit" type="submit" value="Add"><br>
                </div>
            </form>
            {% if tCalBurn >= 0 %} 
            <form method="POST">
                <div class="section_fieldset">
                    Total Calories Burned: {{tCalBurn}} C
                    <input class="next_button" type="submit" name="resetBurn" value="Reset">
                </div>
            </form>
            {% endif %}
            </div>
        </div>
    </body>