<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/css/styles.css">
        <Title> Fitness Goal Selection </Title>
    </head>  
    <body>
        <div>
            <nav>
                <ul>
                    <li><a href="home">MyPlan</a></li>
                    <li><a href="edit_profile">Edit Profile</a></li>
                    <li><a href="goal_select">Select Goals</a></li>
                    <li><a href="calorie_tracker">Calorie Tracker</a></li>
                    <li><a href="find_gyms">Find Gyms</a></li>
                    <li class="logout"><a href="logout">Logout</a></li>
                </ul>
            </nav>
        </div>
        
        <div>
            <h1> Fitness Goal Selection </h1>
            <form method="POST">
                <div class="display_fieldset">
                    <b>Choose  you want to pursue:</b><br><br>

                    <label for="weight">Weight:</label>
                    <select id="goalWeight" name="goalWeight">
                        <option value="goalOne">Lose Weight</option>
                        <option value="goalTwo">Gain Weight</option>
                        <option value="goalThree">Maintain Weight</option>
                    </select><br>

                    <input type="checkbox" name="goalFour">
                    <label for="goalFour">Gain Muscle</label><br>

                    <input type="checkbox" name="goalFive">
                    <label for="goalFive">Lose Fat</label><br>
                    
                    <br>
                    <input class="form_submit" type="submit"><br><br>
                </div>
            </form>
            <br>
        </div>
    </body>
</html>
